.a1{
    width: 17%;
    height: 80%;
    background-color: dimgrey;
    margin-top: 0%;
    margin-right: 50%;
    margin-left: 0%;
    position: absolute;

}
.a21{
    height: 78%;
    width: 77%;
     margin-top: 2%;
    margin-right: 60%;
    margin-left: 20%;
    position: absolute;
}

button.btnx1.btn.btn-success{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
    
}

button.btnx2.btn.btn-primary{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
   
}
button.btnx3.btn.btn-primary{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
  
}
button.btnx3.btn.btn-danger{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
   
}
.asignador{
    margin-left: 20px;  
    margin-top: 20px;
    padding: 20px;
}