
.a1{
    width: 17%;
    height: 86%;
    background-color: dimgrey;
    
    position: absolute;

}
.a21{
    height: 100%;
    width: 77%;
     margin-top: 2%;
    margin-right: 60%;
    margin-left: 20%;
    position: fixed;
}

button.btnx1.btn.btn-success{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
    
}

button.btnx2.btn.btn-primary{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
   
}
button.btnx3.btn.btn-primary{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
  
}
button.btnx3.btn.btn-dark{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
  
}
button.btnx3.btn.btn-warning{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
   
}
button.btnx1.btn.btn-warning{
    margin-left: 30px;
    margin-top: 30px;
    width: 70%;
    display: flex;
   
}
.asignador{
    margin-left: 20px;  
    margin-top: 20px;
    padding: 20px;
}