button.total.btn.btn-success{

    background-color: 3B86E;
    height: 60px;
    width: 150px;
}

button.ubicacion.btn.btn-warning{

    background-color: 3B86E;
    height: 60px;
    width: 150px;
}

button.obra.btn.btn-warning{

    background-color: 3B86E;
    height: 60px;
    width: 150px;
}

button.semana.btn.btn-warning{

    background-color: 3B86E;
    height: 60px;
    width: 150px;
}

button.fecha.btn.btn-warning{

    background-color: 3B86E;
    height: 60px;
    width: 150px;
}

button.trabajador.btn.btn-warning{

    background-color: 3B86E;
    height: 60px;
    width: 150px;
}

div.presupuestos{
    height: 100px;
    background-color: dimgrey;
    overflow: hidden;
    overflow-x: scroll;
}

