button#dropdown-button-dark-example1.dropdown-toggle.btn.btn-secondary{
    margin-top: 4%;
    margin-bottom:4%;
}
button#dropdown-button-dark-example2.dropdown-toggle.btn.btn-secondary{
    margin-top: 4%;
    margin-bottom:4%;
}
select.form-select{
    width: 100%;
    margin-top: 3%;
}
/*div.fila.col{
    width: 60%;
*/
 div.usuarios.card{
    background-color: lightslategray;
    margin-left: 4em;
    overflow: hidden;
    overflow-y: scroll;

} 
div.formUsuarios.card{
    
    margin-right: 10px;
    margin-top: 3px;
    margin-left: -48px;
}

div#a1{
    background-color: #ed3e12;
}

button.crearUser.btn.btn-success.btn-lg{
    
    margin-left: 100px;
    margin-top: 35px;

} 
div#cuentaInactiva{
    background-color: #ecc71f;
}
div.inactivos.card{
    background-color: lightslategray;
    margin-left: 1em;
    overflow: hidden;
    overflow-x: scroll;
}

div.civiles{
    background-image: url("aurora.jpg");
    background-size: cover;
overflow-x: scroll;
display: flex;
    
    
    row-gap: 5%;
    padding: 30px;

}
div.electricos{
    background-color:  rgb(211, 211, 53);

}
div.she{
    background-color:  rgb(207, 207, 188);
}
div.herreria{
    background-color:  rgb(207, 207, 188); 
}
div.corporativo{
    background-color:  rgb(207, 207, 188);   
}
div.siarsa{
    background-color:  rgb(207, 207, 188);
}
div.secma{
    background-color:  rgb(207, 207, 188);
}
div.solcom{
    background-color:  rgb(207, 207, 188);
}
  div.content-users.card{
    
    margin-left: -1em;
    overflow-y: scroll;
}  
div.trabajadores{
    background-color:  rgb(184, 35, 15);
  color: antiquewhite;
  text-align: center;
  width: 40%;

}
button.actualizarUser.btn.btn-success{
    width: 20em;
    height: 4em;
    margin-top: 15%;
    
}