div.capaRH1{
    display:inline-grid;

    background-image: url("RH1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45em;
    width: 40em;
    padding: 1em;
}
div.areasRH{                    
    display:inline-grid;
padding: 1em;
}


div.busquedaTrabajador{
    display:block;
    background-image: url("RH2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 16.7em;
       width: 30em;
       padding: 1em;
   }


   .capaRH1 {
    background-image: urlurl("RH1.jpg");
    background-size: cover;
    background-position: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 }