div.prestado{
    display:inline-grid;

    background-image: url("prestado.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50em;
    width: 35em;
    padding: 1em;
}
div.areas{
    display:inline-grid;
padding: 1em;
}
div.miscelaneos{
 display:block;
 background-image: url("miscelaneos.jpg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 16.7em;
    width: 30em;
    padding: 1em;
}
div.maquinaria{
    display:block;
    background-image: url("maquinaria.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 16.7em;
    width: 30em;
    padding: 1em;
}
div.herramientas{
    display:block;
    background-image: url("herramientas.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 16.7em;
    width: 30em;

}
