button#dropdown-button-dark-example1.dropdown-toggle.btn.btn-secondary{
    margin-top: 4%;
    margin-bottom:4%;
}
button#dropdown-button-dark-example2.dropdown-toggle.btn.btn-secondary{
    margin-top: 4%;
    margin-bottom:4%;
}